<md-dialog aria-label="New ToDo">
  <md-content class="sticky-container">
    <md-subheader class="md-sticky-no-effect">New ToDo</md-subheader>
    <div class="dialog-content">
      <form>
        <div>
           <md-input-container flex>
            <label>Task name:</label>
            <input ng-model="todoItemLabelNew">
           </md-input-container>
        </div>
        <div>
           <md-button class="md-raised md-primary" type="submit" ng-click="saveItem(todoItemLabelNew)">Add</md-button>
        </div>
      </form>
    </div>
  </md-content>
</md-dialog>